* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8B1E3F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Poppins Medium", sans-serif;
    color: #F8F7F4;
}

#logo {
    width: 40vh;
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
    margin-bottom: 30px;
}

.botoes {
    display: flex;
    flex-direction:column;
    gap: 10px;
}

.botao {
    font-family: "Poppins Regular", sans-serif;
    background-color: #F8F7F4;
    color: #8B1E3F;
    font-size: 1.5em;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    width: 50vw;
    text-align: center;

}