* {
    margin: 20px;
    padding: 0;
}

body {
    background-color: #8B1E3F;
    color: #F8F7F4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.seta {
    position: relative;
    top: 20px;
    left: 20px;
}

h1 {
    position: relative;
    top: 20px;
    font-family: "Poppins SemiBold", sans-serif;
    text-align: center;
    font-size: 40px;
}

.registo {
    padding: 40px;
    border-radius: 8px;
    width: 50vw;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: "Poppins Medium", sans-serif;
    font-size: 14px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px #F8F7F4;
    border-radius: 4px;
    font-family: "Poppins Regular", sans-serif;
    font-size: 12px;
}

button {
    font-family: "Poppins Medium", sans-serif;
    font-size: 14px;
    background-color: #F8F7F4;
    color: #8B1E3F;
    padding: 12px;
    border: none;
    border-radius: 4px;


}
