body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #8B1E3F;
    color: #F8F7F4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    position: relative;
    margin-bottom: 30px;
}

.container {
    background-color: #8B1E3F;
    padding: 20px;
    width: 100%;
    margin: 20px;
    /*max-width: 400px;*/
}

.seta {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #F8F7F4;
    cursor: pointer;
}

.header h1 {
    margin: 0;
    text-align: center;
    font-size: 28px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #F8F7F4;
    color: #333;
    font-size: 16px;
}

.botao-registar {
    width: 60%;
    padding: 12px;
    background-color: #F8F7F4;
    color: #8B1E3F;
    font-family: "Poppins SemiBold", sans-serif;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.botao-registar:hover {
    background-color: #f2f2f2;
}
